page-characters {

    .centro1{
        position: absolute;
        bottom: 5%;
        left: 50%;
    }

    .centro2{
        position: absolute;
        bottom: 5%;
        left: 37%;
    }

    .centro3{
        position: absolute;
        bottom: 5%;
        right: 50%;
    }

    

}
